apiVersion: v1
kind: Service
metadata:
  name: k8s-watch-server
  namespace: default
  labels:
    app: k8s-watch-server
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: k8s-watch-server
